@import url("./reset.css");

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf") format('truetype');
}

:root{
    font-size: 18px;
}

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

    background-image: url("https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.507);
    background-blend-mode:luminosity;
}

main{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-content: center;

   
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 25%;
    border: 1px solid rgb(255, 255, 255);
    padding: 3%;
    border-radius: 5px;
    color: white;
    z-index: 100;

    backdrop-filter: blur(10px);
    position: relative;
    /* overflow: hidden; */
    /* backdrop-filter: saturate(80%); */
}


form::before, form::after{
    content: '';
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(199, 76, 76, 0.425);
    z-index: -10;
    backdrop-filter: blur(10px);
    box-shadow: 1px 2px 15px rgba(77, 17, 17, 0.548);
}

form::before{
    width: 250px;
    height: 250px;
    top: -130px;
    right: -150px;
}

form::after{
    bottom: -100px;
    left: -100px;
}

input, button{
    margin-bottom: 20px;
}

button{
    margin-top: 50px;
    height:  40px;

    background-color: transparent;
    font-weight: 700;
    font-size: 17px;
    border: none;
    border: 1px solid white;
    color: white;
}

button:hover{
    cursor: pointer;
}

button:active{
    box-shadow: 1px 1px 5px white;
}

input{
    border: none;
    background-color: transparent;

    border-bottom: 1px solid white;
}

input:focus{
    outline: none;
}

.add-info{
    width: 100%;
    height: 40vh;
    background-color: white;
    padding: 40px;
    line-height: 1.5;
}

h1{
    font-size: 30px;
    font-weight: bold;
    margin: 2% 0;
}

footer{
    background-color: transparent;
    color: white;
    width: 100%;
    padding: 8%;
}
ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}
input{
    height: 35px;
}

a:hover{
    color: rgb(206, 65, 0);
}